<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Shopping List</title>
    </head>

    <body>

    <h2>Add a Food</h2>
    <form>
        <input type="text" name="food">

    {% if items %}

        {% for item in items %}
        <input type="hidden" name="food" value="{{item}}">
        {% endfor %}

    {% endif %}

        <button>Add</button>

    </form>

    {% if items %}
    <h2>Shopping List</h2>

    <ul>

        {% for item in items%}
        <li>{{item}}</li>
        {% endfor %}

    </ul>
    {% endif %}

    </body>
</html>