<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="/static/styles.css" />
    <title>blog</title>
  </head>

  <body>
    <nav>
      <a href="/blog/signup">signup</a>
    </nav>

    <div id="page">
      <h1>blog</h1>

      {% for post in posts %}
        <div class="posts">
            <div class="post-title">{{post.subject}}</div>
            <div class="post-body">{{post.content}}</div>
            <div>&nbsp;</div>
        </div>
      {% endfor %}

    </div>
  </body>
</html>