<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>new post</title>
</head>
<body>

  <div id="page">

    <h1>new post</h1>

    <form method="post">

      <div class="entry">
        <p><label>title</label></p>
        <p><input type="text" name="subject" value="{{subject}}"></p>
      </div>

      <div class="entry">
        <p><label>entry</label></p>
        <p><textarea name="content">{{content}}</textarea></p>
      </div>

      <p class="error">{{error}}</p>

      <div class="entry"><p><input type="submit"></p></div>

    </form>


  <!-- PLACEHOLDER REMOVE LATER -->
  <pre><a href="http://localhost:8080/blog">blog</a></pre>



  </div>

</body>
</html>