<!DOCTYPE html>

<html>
<head>
    <style type="text/css">
    * { font-family: georgia, serif; }
    </style>
    <title>/ascii/</title>
</head>
<body>

    <h1>/ascii/</h1>

    <form method="post">
        <label>title
            <input type="text" name="title" value="{{title}}">
        </label><br><br>

        <label>art
            <textarea name="art">{{art}}</textarea>
        </label><br><br>

        <div class="error">{{error}}</div>

        <input type="submit">

    </form>

</body>
</html>